@import "./section/navbar.css";
@import "./section/shopping-cart.css";
@import "./section/hero-section.css";
@import "./section/about-section.css";
@import "./section/menu-section.css";
@import "./section/product-section.css";
@import "./section/contact-section.css";
@import "./section/footer-section.css";
@import "./section/modal-box&item-detail.css";
@import "./responsive-design/laptop.css";
@import "./responsive-design/tablet.css";
@import "./responsive-design/mobile.css";

/*root color*/
:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}
